{% extends 'AppInvest/padre.html'%}
{% load static %}
{% block Titulo %} Inicio
{% endblock %}
{% block pageTitle %} Trading
{% endblock %}
{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<section class="pt-8 pt-md-11 pb-8 pb-md-14">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Divider -->
                <hr class="my-6 my-md-8" />
            </div>
        </div>
        <!-- / .row -->
        <div class="row">
            <div class="col-12 col-md-8">
                <!-- Heading -->
                <h3 class="mb-5">¿Qué es el Trading?</h3>

                <!-- Text -->
                <p class="text-gray-800">
                    El <b>trading</b> es una actividad en la que se compra y vende un
                    producto en el corto, mediano, o largo plazo en búsqueda de generar
                    una ganancia a través de dicha transacción. Estos productos pueden ser
                    de cualquier clase, pero los más comunes en el mundo del trading son
                    las monedas y las acciones.
                </p>

                <!-- Text -->
                <p>Tipos de Trading:</p>
                <!-- Text -->
                <p class="text-gray-800">
                    Cuando comenzamos a interesarnos en el mundo del trading, nos damos
                    cuenta que existen muchas formas de operar dependiendo del tiempo en
                    el que se retiene la acción y se finaliza la transacción. A
                    continuación, te mostraremos las principales:
                </p>

                <!-- List -->
                <div class="d-flex">
                    <!-- Badge -->
                    <span class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                        <i class="fa fa-check"></i>
                    </span>

                    <!-- Text -->
                    <p class="text-gray-800">
                        <span class="text-primary">Day Traders: </span>
                        Los day traders se caracterizan por ser los más dinámicos en esta
                        lista, suelen abrir y cerrar operaciones en cuestión de minutos a
                        más tardar un día. Para ello necesitan entrar en acciones que
                        tiendan a mostrar altos niveles de volatilidad; también por esta
                        misma razón suelen ser los que toman más riesgos. Sus decisiones se
                        basan en entrar en el tiempo preciso para poder salirse lo antes
                        posible con una venta que les genere ganancias.
                    </p>
                </div>
                <div class="d-flex">
                    <!-- Badge -->
                    <span class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                        <i class="fa fa-check"></i>
                    </span>

                    <!-- Text -->
                    <p class="text-gray-800">
                        <span class="text-primary">Swing Traders: </span>
                        Los swings traders Suelen durar con sus posiciones varios días a más tardar un par de semanas. Al igual que los day traders, elegir un buen momento para realizar la operación
                        es crucial en su decisión, la diferencia es que suelen entrar en activos con menos volatilidad, por ende, con menor riesgo, por esta razón para poder obtener una ganancia
                        suelen esperarse días o incluso semanas para cerrar su posición.
                    </p>
                </div>
                <div class="d-flex">
                    <!-- Badge -->
                    <span class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                        <i class="fa fa-check"></i>
                    </span>

                    <!-- Text -->
                    <p class="text-gray-800">
                        <span class="text-primary">Traders de mediano plazo: </span>
                        Un trader de mediano plazo, como su nombre lo designa, suele mantener una posición meses a más tardar un año. A diferencia de los primeros dos tipos de traders, uno de mediano
                        plazo le da importancia al momento de entrada de operación, sin embargo, también suele considerar el potencial de la acción en un mediano plazo.

                        Suelen esperar a que se cumplan expectativas que se pueden ver reflejadas en el precio de la acción en un par de meses para posteriormente cerrar la posición.
                    </p>
                </div>
                <div class="d-flex">
                    <!-- Badge -->
                    <span class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                        <i class="fa fa-check"></i>
                    </span>

                    <!-- Text -->
                    <p class="text-gray-800">
                        <span class="text-primary">Traders de largo plazo: </span>
                        Por útlimo, los traders de largo plazo son los inversionistas que mantienen posiciones por años. Para ellos lo más importante es entender a profundidad a las empresas en las
                        que se encuentran y las expectativas de largo plazo de ellas, pueden durar varios años con las posiciones hasta el momento en el que su estrategia les diga lo contrario.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <!-- Card -->
                <div class="card shadow-light-lg">
                    <div class="card-body">
                        <!-- Heading -->
                        <h4>¿Tienes dudas?</h4>

                        <!-- Text -->
                        <p class="fs-sm text-gray-800 mb-5">
                            Estaremos encantados de charlar contigo y resolver tus dudas. ¡Cualquier momento!
                        </p>

                        <!-- Heading -->
                        <h6 class="fw-bold text-uppercase text-gray-700 mb-2">
                            Llamanos
                        </h6>

                        <!-- Text -->
                        <p class="fs-sm mb-5">
                            <a href="" class="text-reset">(123) 456-7890</a>
                        </p>

                        <!-- Heading -->
                        <h6 class="fw-bold text-uppercase text-gray-700 mb-2">Correo electrónico</h6>

                        <!-- Text -->
                        <p class="fs-sm mb-0">
                            <a href="mailto:trading@gmail.com" class="text-reset">trading@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>
{% endblock %}