{% extends 'AppInvest/padre.html'%}
{% load static %}
{% block Titulo %}
Perfil
{% endblock %}
{% block contenidoQueCambia %}

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1>Perfil</h1>
        </div>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible col-sm-12" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong><br>
        {% for field in form %}
        <ul>
            {% for error in field.errors %}
            <li>
                <p> {{ error }} </p>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <form class="form" method="POST" action="" style="width: 100%;" enctype="multipart/form-data">
            <div class="row">
            {% csrf_token %}
            <div class="col-sm-4">
                <!--left col-->
                <div class="text-center">
                    {% if request.user.avatar.avatar %}
                        <img src="{{ request.user.avatar.avatar.url }}" class="avatar img-circle img-thumbnail" alt="avatar">
                    {% else %}
                        <img src="/media/avatar/user_default_profile.png" class="avatar img-circle img-thumbnail" alt="avatar">
                    {% endif %}
                </div>
                </hr>
            </div>
            <!--/col-3-->
            <div class="col-sm-8">
                <hr>
                {% if messages %}
                <div class="alert alert-dismissible col-sm-12" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Resultado!</strong><br>
                    {% for message in messages %}
                    <div class="alert alert-{% if message.tags %}{{ message.extra_tags }} {% endif %}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}

                </div>
                {% endif %}

                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="first_name">
                            <h4>Nombre</h4>
                        </label>
                        <h4 class="text-primary">{{ user.first_name}}</h4>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="last_name">
                            <h4>Apellidos</h4>
                        </label>
                        <h4 class="text-primary">{{ user.last_name}}</h4>
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="last_name">
                            <h4>Email</h4>
                        </label>
                        <h4 class="text-primary">{{ user.email}}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="password">
                            <h4>Contraseña</h4>
                        </label>
                        <input type="password" class="form-control" name="password1" id="password1" placeholder="******" required="">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password2">
                            <h4>Repetir Contraseña</h4>
                        </label>
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="******" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <button class="btn btn-success" type="submit"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                    </div>
                </div>
                <hr>

            </div>
        </div>
        </form>
    </div>
    <!--/col-9-->
</div>
<!--/row-->
{% endblock %}