{% extends "AppInvest/padre.html" %}
{% block Titulo %}
Editar Trader
{% endblock %}
{% block pageTitle %}
Editar Trader
{% endblock %}
{% load static %}{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<main class="container cuerpo">
    <br>
    <div class="row">
        {% if miFormulario.errors %}
        <p style="color: red;"> Están mal los datos, revisar</p>
        {% endif %}
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="id_time" class="col-sm-3 col-form-label">time</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="id_time" name="time" value="{{miFormulario.time}}" placeholder="01.01.2022" required="" >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_asset" class="col-sm-3 col-form-label">asset</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="id_asset" name="asset" value="{{miFormulario.asset}}" placeholder="asset" required="" >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_tradeDirection" class="col-sm-3 col-form-label">tradeDirection (0-entry, 1-exit)</label>
                <div class="col-sm-9">
                    <input type="numeric" inputmode="numeric" pattern="[0-1]" class="form-control" value="{{miFormulario.tradeDirection}}" id="id_tradeDirection" name="tradeDirection" placeholder=0 required=""">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_typeentry" class="col-sm-3 col-form-label">typeentry (0-Buy, 1-Sell)</label>
                <div class="col-sm-9">
                    <input type="numeric" inputmode="numeric" pattern="[0-1]" class="form-control" value="{{miFormulario.typeentry}}" id="id_typeentry" name="typeentry" placeholder=0 required=""">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_volume" class="col-sm-3 col-form-label">volume</label>
                <div class="col-sm-9">
                    <input type="numeric" class="form-control" id="id_volume" name="volume" value="{{miFormulario.volume}}" placeholder=1 required="" >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_price" class="col-sm-3 col-form-label">price</label>
                <div class="col-sm-9">
                    <input type="numeric" class="form-control" id="id_price" name="price" value="{{miFormulario.price}}" placeholder=1 required="" >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_stopPrice" class="col-sm-3 col-form-label">stopPrice</label>
                <div class="col-sm-9">
                    <input type="numeric" class="form-control" id="id_stopPrice" name="stopPrice" value="{{miFormulario.stopPrice}}" placeholder=0 required="" >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_tpPrice" class="col-sm-3 col-form-label">tpPrice</label>
                <div class="col-sm-9">
                    <input type="numeric" class="form-control" id="id_tpPrice" name="tpPrice" value="{{miFormulario.tpPrice}}" placeholder=0 required="" >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_comission" class="col-sm-3 col-form-label">comission</label>
                <div class="col-sm-9">
                    <input type="numeric" class="form-control" id="id_comission" name="comission" value="{{miFormulario.comission}}" placeholder=0 required="" >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_fee" class="col-sm-3 col-form-label">fee</label>
                <div class="col-sm-9">
                    <input type="numeric" class="form-control" id="id_fee" name="fee" value="{{miFormulario.fee}}" placeholder=0 required="" >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_swap" class="col-sm-3 col-form-label">swap</label>
                <div class="col-sm-9">
                    <input type="numeric" class="form-control" id="id_swap" name="swap" value="{{miFormulario.swap}}" placeholder=0 required="" >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_profit" class="col-sm-3 col-form-label">profit</label>
                <div class="col-sm-9">
                    <input type="numeric" class="form-control" id="id_profit" name="profit" value="{{miFormulario.profit}}" placeholder=0 required="" >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_balance" class="col-sm-3 col-form-label">balance</label>
                <div class="col-sm-9">
                    <input type="numeric" class="form-control" id="id_balance" name="balance" value="{{miFormulario.balance}}" placeholder=0 required="" >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_comment" class="col-sm-3 col-form-label">comment</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="id_comment" name="comment" value="{{miFormulario.comment}}" placeholder="comment" required="" >
                </div>
            </div>
            <br>
            <div class="text-end">
                <input type="submit" class="btn btn-primary" value="Modificar">
            </div>
            <br>
        </form>
    </div>
</main>
{% endblock %}