{% extends 'AppInvest/padre.html'%}
{% load static %}
{% block Titulo %}
Inicio
{% endblock %}
{% block pageTitle %}
Trading
{% endblock %}
{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded ">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Sistema de registro y analisís de estrategias de trading</h1>
        <p class="lead my-3">Descripcion .</p>
      </div>
    </div>
</main>
{% endblock %}