{% extends "AppInvest/padre.html" %}
{% load static %}
{% block Titulo %}
Traders
{% endblock %}
{% block pageTitle %}
Traders
{% endblock %}
{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->

<main class="container">
    <div class="container px-4 py-5" id="featured-3">
        {% if miFormulario.errors %}
        <p style="color: red;"> Están mal los datos, revisar</p>
        {% endif %}

        <h2 class="pb-2 border-bottom">Info de los Traders</h2>
        <div class="row">
            {% for p in traders %}

            <div class="col-12 col-md-6 col-lg-4">

                <!-- Card -->
                <div class="card card-border border-primary shadow-lg mb-6 mb-md-8 lift lift-lg">
                    <div class="card-body text-center">

                        <!-- Icon -->
                        <div class="icon-circle bg-primary text-white mb-5">
                            <i class="bi bi-person-circle"></i>
                        </div>

                        <!-- Heading -->
                        <h4 class="fw-bold">

                            <!-- Badge -->
                            <span class="badge rounded-pill bg-dark-soft">
                                <span class="h6 text-uppercase">
                                    ID Trader: {{p.idTrader}}
                                </span>
                            </span>
                        </h4>

                        <!-- Text -->
                        <p class="text-gray-700 mb-5">
                            {{p.nombre}} {{p.apellido}}
                        </p>
                        <p>{{p.email}}</p>

                        <div class="col-auto">
                            <a href="{% url 'EliminarTrader' p.id %}">
                                <button class="btn btn-danger text-white">
                                    Eliminar
                                </button>
                            </a>
                            <a href="{% url 'EditarTrader' p.id %}">
                                <button class="btn btn-primary lift">
                                    Editar
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>



    </div>
</main>
{% endblock %}