<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        {% block Titulo %}
        {% endblock %}
    </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{%static 'AppInvest/assets/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'AppInvest/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'AppInvest/fa/css/all.min.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3045bb72b9.js" crossorigin="anonymous"></script>
    <script src="{% static 'AppInvest/js/bootstrap.min.js' %}"></script>
</head>

<body> 
    {{ mensaje }}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'Inicio' %}">Trading</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Traders' %}">Traders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'TradingStrategies' %}">Trading Strategies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Trades' %}">Trades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Usuarios' %}">Usuarios</a>
                    </li>
                </ul>
                <div class="position-relative mr-3 mb-4 mb-lg-0 d-inline-block">
                    {% if request.user.is_authenticated %}
                        <div>
                            <ul class="nav flex-row order-lg-2 ml-auto nav-icons">
                                <li class="nav-item dropdown user-dropdown align-items-center">
                                    <a class="nav-link text-white" href="#" id="dropdown-user" role="button" data-toggle="dropdown"> 
                                        <span class="ml-2 h-lg-down dropdown-toggle"> 
                                            {% if request.user.avatar.avatar %}
                                                <img src="{{ request.user.avatar.avatar.url }}" alt="" width="30">
                                            {% else %}
                                                <i class="fa fa-user-circle fa-2x"></i> 
                                            {% endif %}
                                        </span> 
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">  
                                        <a class="dropdown-item" href="{% url 'EditarPerfil' %}">
                                            <i class="icon-Newspaper"></i> Perfil
                                        </a>
                                        <a class="dropdown-item" href="{% url 'ChangePassword' %}">
                                            <i class="icon-Newspaper"></i> Cambiar contraseña
                                        </a>
                                        <a class="dropdown-item" href="{% url 'Logout' %}">
                                            <i class="icon-Newspaper"></i> Cerrar sesión
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <div class="text-white">
                                <span>Hola, {{user.username}}!!!.
                                </span> 
                            </div>
                        </div>  
                    {% else %}
                        <div>
                            <ul class="nav flex-row order-lg-2 ml-auto nav-icons">
                                <li class="nav-item dropdown user-dropdown align-items-center">
                                    <a class="nav-link text-white" href="#" id="dropdown-user" role="button" data-toggle="dropdown"> 
                                        <span class="ml-2 h-lg-down dropdown-toggle"> 
                                            <i class="fa fa-user-circle fa-2x"></i> 
                                        </span> 
                                    </a>
                                </li>
                            </ul>
                        </div>  
                        <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" href="{% url 'Login'%}" >
                            Iniciar Sesión
                        </a>
                        <a class="navbar-btn btn btn-sm btn-success lift ms-auto" href="{% url 'Register' %}">
                            Registrarse
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <!-- <header>
        
    </header> -->
    <div class="main">
        <div class="container">
            <!-- Masthead-->
            <header class="masthead">
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-xl-6">
                            <div class="text-center">
                                <!-- Page heading-->
                                <h1 class="mb-5">
                                    {% block pageTitle %}
                                    {% endblock %}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- .container -->
        <div class="flex-grow-1 flex-shrink-0 flex-basis-auto">
        {% block contenidoQueCambia %}

        {% endblock %}
        </div>
        <!-- End of .container -->
        <!-- Footer-->
    </div>
    <div class="container my-5">
        <hr class="my-3">
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white" style="background-color: #45526e">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                Trading
                            </h6>
                            <p>
                                La mejor plataforma para el registro y analisís de estrategias de trading.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        {% comment %} <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Productos</h6>
                            <p>
                                <a class="text-white">Producto 1</a>
                            </p>
                            <p>
                                <a class="text-white">Producto 2</a>
                            </p>
                            <p>
                                <a class="text-white">Producto 3</a>
                            </p>
                            <p>
                                <a class="text-white">Producto 4</a>
                            </p>
                        </div> {% endcomment %}
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                Sitios
                            </h6>
                            <p>
                                <a class="text-white" href="{% url 'EditarPerfil' %}">Tu cuenta</a>
                            </p>
                            <p>
                                <a class="text-white" href="{% url 'Register' %}">Registrate</a>
                            </p>
                            <p>
                                <a class="text-white">Estadisticas</a>
                            </p>
                            <p>
                                <a class="text-white">Ayuda</a>
                            </p>
                        </div>

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                            <p><i class="fas fa-home mr-3"></i> dirección # 10012</p>
                            <p><i class="fas fa-envelope mr-3"></i> trading@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->

                <hr class="my-3">

                <!-- Section: Copyright -->
                <section class="">
                    <div class="row d-flex align-items-center">
                        <!-- Grid column -->
                        <div class="col-md-7 col-lg-8 text-center text-md-start">
                            <!-- Copyright -->
                            <div class="p-3">
                                &copy; 2022
                                <a class="text-white" href="{% url 'Inicio' %}">Trading App</a>
                            </div>
                            <!-- Copyright -->
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i class="fa-brands fa-facebook-f"></i></a>
                            
                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i class="fa-brands fa-twitter"></i></a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i class="fa-brands fa-instagram"></i></a>

                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i class="fa-brands fa-github"></i></a>
                        </div>
                        <!-- Grid column -->
                    </div>
                </section>
                <!-- Section: Copyright -->
            </div>
            <!-- Grid container -->
        </footer>
        <!-- Footer -->
    </div>
</body>

</html>