{% extends "AppInvest/padre.html" %}
{% load static %}
{% block Titulo %}
TradingStrategy
{% endblock %}
{% block pageTitle %}
TradingStrategy
{% endblock %}
{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<main class="container cuerpo">
    {% if miFormulario.errors %}
    <p style="color: red;"> Están mal los datos, revisar</p>
    {% endif %}
    
    <h2>Añadir una nueva Estrategia de Trading</h2>
    <br>
    <div class="row">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="id_nombre" class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="id_nombre" name="nombre" placeholder="Nombre" required="" >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_activo" class="col-sm-3 col-form-label">Activo</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="id_activo" name="activo" placeholder="activo" required="" >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="id_descripcion" class="col-sm-3 col-form-label">Descripción</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="id_descripcion" name="descripcion" maxlength="140" placeholder="Descripcion" required="">
                </div>
            </div>
            <br>
            <div class="text-end">
                <button type="submit" class="btn btn-success text-white ">
                    <i class="fas fa-save" aria-hidden="true"></i> Guardar
                </button>
                <button class="btn btn-danger text-white " onclick="history.back()">
                    <i class="fas fa-undo" aria-hidden="true"></i> Regresar
                  </button>
            </div>
            <br>
        </form>
    </div>
</main>
{% endblock %}