{% extends "AppInvest/padre.html" %}
{% load static %}
{% block Titulo %}
Traders
{% endblock %}
{% block pageTitle %}
Traders
{% endblock %}
{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<div class="container cuerpo">
    <p>Info de los Traders</p>
    {% if miFormulario.errors %}
    <p style="color: red;"> Están mal los datos, revisar</p>
    {% endif %}
    {% for p in traders %}
    <li>{{p}}</li>
    <button>
        <a href="{% url 'EliminarTrader' p.idTrader %}"> Eliminar</a>
        <a href="{% url 'EditarTrader' p.idTrader %}"> Editar</a>
    </button>
    {% endfor %}

    <h2>Añadir un nuevo trader</h2>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="id_idTrader" class="col-sm-3 col-form-label">idTrader</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="id_idTrader" name="idTrader" placeholder="ID" required="">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="id_nombre" class="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="id_nombre" name="nombre" placeholder="Nombre" required="">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="id_apellido" class="col-sm-3 col-form-label">Apellidos</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="id_apellido" name="apellido" maxlength="30" placeholder="Apellido" required="">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="id_email" class="col-sm-3 col-form-label">Correo Electronico</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="id_email" name="email" placeholder="Email" required="">
            </div>
        </div>
        <br>
        <div class="text-end">
            <input type="submit" class="btn btn-primary" value="Enviar">
        </div>
    </form>
</div>
{% endblock %}